:root {
  --lotdg-primitive-font-family-body:
    'Gulim', '굴림', 'Malgun Gothic', 'Meiryo', 'Microsoft YaHei', 'Segoe UI', system-ui, sans-serif;

  --lotdg-primitive-font-family-title:
    'Old English Text MT', 'UnifrakturCook', 'Times New Roman', serif;

  --lotdg-primitive-font-family-control: Verdana, Arial, Helvetica, sans-serif;

  --lotdg-primitive-font-weight-normal: 400;
  --lotdg-primitive-font-weight-bold: 700;

  --lotdg-primitive-line-height-navigation-head: 1.8;
  --lotdg-primitive-line-height-body: 1.5;
  --lotdg-primitive-line-height-tight: 1.2;

  --lotdg-primitive-letter-spacing-head: 0.02em;
  --lotdg-primitive-letter-spacing-normal: 0;
}
