:root {
  --lotdg-primitive-black: #000000;
  --lotdg-primitive-brown-deep: #352d20;
  --lotdg-primitive-brown: #433828;
  --lotdg-primitive-brown-raised: #6b563f;
  --lotdg-primitive-brown-edge-light: #947356;
  --lotdg-primitive-brown-edge-dark: #403225;
  --lotdg-primitive-tan: #806b4d;

  --lotdg-primitive-navy-deep: #000033;
  --lotdg-primitive-navy: #000099;
  --lotdg-primitive-navy-hover: #003366;
  --lotdg-primitive-navy-edge: #0364a3;
  --lotdg-primitive-indigo: #333f7c;

  --lotdg-primitive-gold: #f4d17b;
  --lotdg-primitive-gold-light: #f8db83;

  --lotdg-primitive-green-deep: #003300;
  --lotdg-primitive-green: #009900;

  --lotdg-primitive-crimson: #990000;
  --lotdg-primitive-maroon: #330000;

  --lotdg-primitive-orange: #ff9900;
  --lotdg-primitive-azure: #0099ff;

  --lotdg-primitive-grey: #cccccc;
  --lotdg-primitive-grey-mid: #999999;
  --lotdg-primitive-white: #ffffff;

  --lotdg-primitive-console-dark-blue: #0000b0;
  --lotdg-primitive-console-dark-green: #00b000;
  --lotdg-primitive-console-dark-cyan: #00b0b0;
  --lotdg-primitive-console-dark-red: #b00000;
  --lotdg-primitive-console-dark-magenta: #b000cc;
  --lotdg-primitive-console-dark-yellow: #b0b000;
  --lotdg-primitive-console-dark-white: #b0b0b0;
  --lotdg-primitive-console-light-blue: #0000ff;
  --lotdg-primitive-console-light-green: #00ff00;
  --lotdg-primitive-console-light-cyan: #00ffff;
  --lotdg-primitive-console-light-red: #ff0000;
  --lotdg-primitive-console-light-magenta: #ff00ff;
  --lotdg-primitive-console-light-yellow: #ffff00;
  --lotdg-primitive-console-light-white: #ffffff;
  --lotdg-primitive-console-light-black: #999999;
}
