.colDkBlue {
  color: var(--lotdg-color-dark-blue);
}

.colDkGreen {
  color: var(--lotdg-color-dark-green);
}

.colDkCyan {
  color: var(--lotdg-color-dark-cyan);
}

.colDkRed {
  color: var(--lotdg-color-dark-red);
}

.colDkMagenta {
  color: var(--lotdg-color-dark-magenta);
}

.colDkYellow {
  color: var(--lotdg-color-dark-yellow);
}

.colDkWhite {
  color: var(--lotdg-color-dark-white);
}

.colLtBlue {
  color: var(--lotdg-color-light-blue);
}

.colLtGreen {
  color: var(--lotdg-color-light-green);
}

.colLtCyan {
  color: var(--lotdg-color-light-cyan);
}

.colLtRed {
  color: var(--lotdg-color-light-red);
}

.colLtMagenta {
  color: var(--lotdg-color-light-magenta);
}

.colLtYellow {
  color: var(--lotdg-color-light-yellow);
}

.colLtWhite {
  color: var(--lotdg-color-light-white);
}

.colLtBlack {
  color: var(--lotdg-color-light-black);
}

.navhi {
  color: var(--lotdg-color-navigation-hotkey);
  text-decoration: underline;
}
